.shell2 {
  margin: 0 65px;
}

.posst_wrapper {
  padding-top: 45px;
}

.posst {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
}

.posst_meta {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.meta {
  width: 33.3%;
  display: flex;
  justify-content: center;
  max-height: 40px;
  padding: 20px 0;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.meta:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, .2);
}

.meta:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, .2);
}

.meta p {
  margin-left: 10px;
}

.meta a {
  margin-left: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  transition: .2s;
}

.meta a:hover  {
  text-decoration: underline;
}

.meta img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.posst_decor {
  width: 70%;
  height: 3px;
  background: #1e88e5;
  align-self: center;
}

.posst_head {
  position: relative;
  display: flex;
  transition: .4s;
}

.posst_title {
  font-size: 46px;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0, 0, 0, .84);
  margin-bottom: 12px;
  margin-inline-start: -3px;
}

.headline_holder p {
  font-size: 23px;
  letter-spacing: 0;
  color: rgba(0,0,0,.54);
  line-height: 28px;
}

.ct_holder {
  position: relative;
}

.related {
  position: absolute;
  left: 142px;
  top: 0px;
  display: flex;
  flex-direction: column;
}

.posst_image {
  width: 47%;
  margin-right: 3%;
  height: 370px;
  transition: .3s;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.headline_holder {
  max-width: 50%;
  width: 100%;
  padding: 90px 50px 32px 140px;
  margin-left: auto;
}

.team {
  margin-top: 30px;
  display: flex;
}

.team img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.team a {
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0,0,0,.84);
  text-decoration: none;
  margin-bottom: 4px;
}

.team a:hover {
  text-decoration: underline;
}

.team p {
  margin-top: 4px;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0,0,0,.54);
  text-decoration: none;
}

.posst_actions {
  max-width: 720px;
  margin: 0 250px 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.divider {
  display: flex;
  justify-content: center;
}

.dot {
  margin-top: 52px;
  margin-bottom: 42px;
  height: 4px;
  width: 4px;
  margin-right: 20px;
  background-color: rgba(0,0,0,.84);
  border-radius: 50%;
  display: inline-block;
}

.dot:first-child {
  margin-left: 170px;
}

.dot:last-child {
  margin-right: 0;
}

.nc_actions {
  align-self: flex-end;
  margin-left: 10px;
}

.social {
  align-self: center;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

.sc_button {
  width: 38px;
  height: 38px;
  background: #202124;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  transition: .2s;
}

.sc_button:hover {
  background: #37474f;
}

.sc_button div {
  align-self: center;
  width: 25px;
  height: 20px;
  background-size: 100% 100%;
  background-position: center;
}

.sc_button:nth-child(1) div {
  height: 35px;
}

.ca {
  align-self: center;
  width: 30%;
  flex-direction: row-reverse;
  display: flex;
  justify-content: flex-end;
}

.ca_button {
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  padding: 5px 7px 5px 7px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: .2s;
  user-select: none;
}

.ca_button i {
  transition: .2s;
}

.ca_button:hover i {
  transform: translateX(5px);
}

.ca_button p {
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.comments {
  max-width: 1000px;
  margin: 0 110px 0 auto;
  margin-bottom: 0;
  display: none;
}

.comments h2 {
  padding: 20px 0 30px 0;
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(0, 0, 0, .83);
  text-align: center;
}

.addcomment {
  margin-left: 10%;
  width: 80%;
  margin-bottom: 50px;
}

.cp_image {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ac {
  display: flex;
}

.ac_holder {
  margin-left: 15px;
  width: 100%;
}

.ac_holder input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 7px 10px 3px 0;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgba(0,0,0, .3);
}

.ac_holder input:focus {
  outline: none;
  border-bottom: 2px solid rgba(0,0,0, .8);
}

.ac_actions {
  display: flex;
  justify-content: flex-end;
}

.ac_actions .ca_button {
  margin-right: 0;
}

.posst_realcontent p {
  max-width: 700px;
  margin: 0 200px 0 auto;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  word-break: break-word;
  margin-bottom: 29px;
}

.sidebar {
  width: 100%;
  padding-bottom: 30px;
}

.sidebar div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar > div > a {
  width: 32%;
}

.head_divider {
  display:flex; margin-bottom: 80px;
}

@media screen and (max-width: 1100px) {
  .headline_holder {
    padding: 50px 50px 32px 0px;
  }
  .posst_image {
    height: 310px;
    width: 50%;
    margin-right: 0;
  }
  .related {
    left: 85%;
  }
  .dot:first-child {
    margin-left: 0px;
  }
}

@media screen and (max-width: 800px) {
  .shell2 {
    margin: 0 4%;
  }
  .head_divider {
    flex-direction: column-reverse;
  }
  .posst_image {
    width: 100%;
    height: 210px;
  }
  .headline_holder {
    max-width: 100%;
    padding: 30px 0 0 0;
    margin-left: 0;
    text-align: center;
  }
  .related {
    display: none;
  }
  .posst_realcontent p {
    margin: 0;
    margin-bottom: 29px;
  }
  .posst_actions {
    margin: 0;
  }
  .comments {
    margin: 0;
  }
  .sidebar > div > a {
    width: 49%;
  }
}

@media screen and (max-width: 425px) {
  .meta {
    width: 45%;
  }
  .meta:nth-child(2) {
    width: 10%;
  }
}
