.chat {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  margin: 0 0 30px 20px;
  padding: 0 30px;
  height: 620px;
}

.chat h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  padding: 20px 0;
  margin-bottom: 20px;
  background: #43a047;
  color: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.chatwrap {
  display: flex;
  justify-content: space-between;
}

.messenger {
  position: relative;
  width: 100%;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 30px 0 30px;
}

.messtitle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  padding: 10px 0;
  background: #1e88e5;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.mess_actions {
  display: flex;
  padding: 10px 0 15px 0;
}

.mess_actions input {
  width: 80%;
  font-size: 20px;
  padding: 0 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, .4);
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button_save {
  display: inline-block;
  text-decoration: none;
  background: #1e88e5;
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 20%;
  padding: 10px 17px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .2s;
}

.button_save:hover {
  background: #777;
}

.button_back {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
  background: #202124;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 5px 17px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: .2s;
}

@media screen and (max-width: 1100px) {
    .chat {
      height: 100%;
      padding-bottom: 30px;
      margin-left: 0;
    }
    .chatwrap {
      flex-direction: column;
    }
    .messenger {
      width: 100%;
    }
    .mess_actions input {
      width: 70%;
    }
    .button_save {
      width: 30%;
      padding: 10px;
    }
}
