.login_wrapper {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 470px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  padding: 40px 40px 10px 40px;
  margin-bottom: 20px;
}

.login_title {
  font-size: 35px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, .87);
  text-align: center;
}

.login input {
  width: 100%;
  margin-bottom: 15px;
  padding: 17px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.login input:focus {
  outline: none;
  border-color: #1e88e5;
  box-shadow: 0px 0px 0px 1px #1e88e5 inset;
}

.login input:focus + label {
  left: 15px;
  top: -10px;
  font-size: 14px;
  background: #fff;
  border-radius: 3px;
  color: #1976d2;
}

.login_holder {
  position: relative;
  width: 100%;
  height: 100%;
}

.login_holder label {
  position: absolute;
  top: 18px;
  left: 13px;
  font-size: 16px;
  color: rgba(0, 0, 0, .8);
  padding: 0 7px;
  max-width: 80%;
  transition: .2s;
  pointer-events: none;
}

.login_button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  background: #1e88e5;
  color: #fff;
  margin: 10px 0 10px 0;
  border: 1px solid transparent;
}

.login_button:hover {
  background: #1565c0;
}

.login_google {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .8);
  margin-bottom: 10px;
  position: relative;
}

.login_google:hover {
  background: #e0e0e0;
}

.logo {
  width: 30px;
  height: 30px;
  background-size: cover;
  position: absolute;
  left: 15px;
  top: 10px;
}

.login_forget {
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #0069ff;
  font-size: 18px;
}

.login_signup_text {
  font-size: 18px;
}

.login_signup {
  padding: 15px 0;
  font-size: 18px;
  color: #0069ff;
  text-decoration: underline;
}

.forg_text {
  font-size: 20px;
  line-height: 1.3;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
  color: rgba(0, 0, 0, .9);
  transition: .2s;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media screen and (max-width: 425px) {
	.login {
    width: 100%;
  }
}
